<div class="col-md-12">

	<h1>News Article
	<% if session[:user_id] %>
		<a class="btn btn-success" onclick = "window.location='<%= new_post_path %>'">Create Post</a>
	<% end %>
	</h1>
	</br>
	</br>
	</br>
	<% @posts.each do |post| %>
		<div class="post_wrapper">		
		<h3 class="post_title"><a onclick= "window.location='<%= post_path(post) %>'"><%= post.title %></a></h3>
			<div class="date"><%= post.created_at.strftime("%B %d , %Y") %></div>
			</br>
			<div>"<%= truncate(post.body, length: 300)%>"</div>
			</br>
			<div class="row">
				<p class="col-md-4"><span class="badge"><%= post.comments.count %></span> Comments</p>
				<div class="col-md-8">
					<% if session[:user_id] %>
						<div class="link_btn"><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %></div>
						<div class="link_btn">
							<a class="btn btn-warning" onclick = "window.location='<%= edit_post_path(post) %>'">Edit</a>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<br>
	<% end %>


	<%= will_paginate @post, renderer: BootstrapPagination::Rails %>


</div>